.numbers {
  height: 30vh;
  width: 50vw;
  margin: auto;
  margin-top: 5vh;
  padding: 1vh 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.number {
  height: fit-content;
  width: 15vw;

  border: 3px;
  border-style: solid;
  padding: 1%;
  border-radius: 40px;
  border-color: rgb(36, 35, 35);
}

.numberFont {
  color: #2196f3;
  font-size: 10vh;
  margin: 0;
}

.infoSign {
  width: 100%;
  height: fit-content;
  background-color: #2196f3;
  color: white;
  padding: 0.5vh 0%;
  margin: 3vh 0%;
}

.css-19kzrtu {
  padding: 0px !important;
}

.outerBox {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.cardText {
  width: fit-content;

  padding-left: 15%;
  white-space: nowrap;
}

.avatar {
  margin-left: 10%;
  margin-top: 10%;
}

.mainContent {
  text-align: left;
}

.infoCard {
  width: 80vw;
  margin: auto;
  margin-bottom: 2vh;
  height: fit-content;
  padding: 12px;
  border-style: solid;
  border-radius: 25px !important;
  border-color: rgb(36, 35, 35);
  border-width: 2px;
}
